body {
    background: url(images/background.png);
    font-family: 'Holtwood One SC' sans-serif;
    background-size: 100% 100%;
}

h1 , h2{
    color: #fff;
    padding: 45px 0 80px 0;
    text-align: center;
    padding-bottom: 40px;
    text-transform: uppercase;
}

h3 {
    color: red;
    font-weight: bold;
    text-transform: uppercase;  
}

p {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

ul,ol {
    list-style:none;
}
img {
    background: yellow;
}


.text-logo .glyphicon {
    color: yellow;
    text-shadow: 0px 0px yellow;
}

.price {
    background: #5cb85c;
    font-weight: bold;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2{
    text-transform: uppercase;
}



/*MENU*/
.navbar {
    background: #888;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}

.navbar li a {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgb(146, 175, 228) !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-style: none;
}

.icon-bar {
    background-color: #fff !important;
}

#menus .heading h2 {
    color: #fff;
}
#menus .heading h4 {
    color: #fff;
}

#menus .thumbnail img {
    width: 100%;
    height: 100%;
    
}

input {
    font-size: 12px;
    background:  rgb(146, 175, 228);
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
}
